<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
		version="3.1">
		
	<servlet>
	
	<servlet-name>LoginServlet</servlet-name>
	<servlet-class>com.user.LoginServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>LoginServlet</servlet-name>
	<url-pattern>/log</url-pattern>
	</servlet-mapping>
	
	<servlet>     
    	<servlet-name>SignupServlet</servlet-name>
    	<servlet-class>com.user.SignupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>SignupServlet</servlet-name>
    	<url-pattern>/insert</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>UpdateUserServlet</servlet-name>
		<servlet-class>com.user.UpdateUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateUserServlet</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddMovieServlet</servlet-name>
		<servlet-class>com.user.AddMovieServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddMovieServlet</servlet-name>
		<url-pattern>/movieadd</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddTVSeriesServlet</servlet-name>
		<servlet-class>com.user.AddTVSeriesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddTVSeriesServlet</servlet-name>
		<url-pattern>/tvseriesadd</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>AddCelebrityServlet</servlet-name>
		<servlet-class>com.user.AddCelebrityServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCelebrityServlet</servlet-name>
		<url-pattern>/celebrityadd</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddUserServlet</servlet-name>
		<servlet-class>com.user.AddUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUserServlet</servlet-name>
		<url-pattern>/useradd</url-pattern>
	</servlet-mapping>

 <servlet>
		<servlet-name>UpdateUsersServlet</servlet-name>
		<servlet-class>com.user.UpdateUsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateUsersServlet</servlet-name>
		<url-pattern>/updateusers</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UpdateCelebrityServlet</servlet-name>
		<servlet-class>com.user.UpdateCelebrityServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateCelebrityServlet</servlet-name>
		<url-pattern>/updateceleb</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UpdateMoviesServlet</servlet-name>
		<servlet-class>com.user.UpdateMoviesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateMoviesServlet</servlet-name>
		<url-pattern>/updatemovies</url-pattern>
	</servlet-mapping>


<servlet>
		<servlet-name>UpdateTVSeriesServlet</servlet-name>
		<servlet-class>com.user.UpdateTVSeriesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateTVSeriesServlet</servlet-name>
		<url-pattern>/updatetvseries</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>DeleteUsersServlet</servlet-name>
		<servlet-class>com.user.DeleteUsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteUsersServlet</servlet-name>
		<url-pattern>/deleteuser</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>DeleteCelebrityServlet</servlet-name>
		<servlet-class>com.user.DeleteCelebrityServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteCelebrityServlet</servlet-name>
		<url-pattern>/deletecelebrity</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DeleteMoviesServlet</servlet-name>
		<servlet-class>com.user.DeleteMoviesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteMoviesServlet</servlet-name>
		<url-pattern>/deletemovies</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DeleteTVSeriesServlet</servlet-name>
		<servlet-class>com.user.DeleteTVSeriesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteTVSeriesServlet</servlet-name>
		<url-pattern>/deletetvseries</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>byemovieSevlet</servlet-name>
		<servlet-class>com.user.byemovieSevlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>byemovieSevlet</servlet-name>
		<url-pattern>/buymovie</url-pattern>
	</servlet-mapping>
	
	
</web-app>